#about{
    padding-top: 70px; 
}

#info{
    padding-top: 70px;
    padding-bottom:50px
}

.card-section{
    padding-bottom: 30px;
}

.info{
    padding-bottom: 20px;
}

.penjelasan{
    text-align: center;
}

body{
    padding-top: 70px;
}

.model{
    padding-top: 30px;
}

